.layer {
	width: 5120px;
}

.screen-container {
	width: 5120px;
}

.game-screen {
	width: 1280px;
	float: left;
	display: inline-block;
	white-space: nowrap;
}

.level-bottom {
	height: 100px;
	width: 5120px;
	/* background-color: #5C360D; */
	position: absolute;
	bottom: 0px;
	background-image: url('../img/floor_tile.png');
	background-repeat: repeat-x;
}

.info-box {
	position: relative;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
}

.info-box h2,
.person-box h2 {
	color: white;
}

.info-box p,
.person-box p {
	color: white;
	white-space: normal;
}

#about-box {
	top: 50px;
	left: 100px;
	width: 750px;
}

#team-box {
	top:50px;
	left: 100px;
	width: 300px;
	float:left;
}

#contact-box {
	top:50px;
	left: 700px;
	width: 400px;
}

.person-box {
	position: relative;
	display: inline-block;
	background-color: rgba(0,0,0,0.5);
	width: 450px;
	top: 50px;
	left: 200px;
	padding: 20px;
	display: none;
}

#avatar-box {
	position: absolute;
	bottom: 85px;
	left: 3200px;
}

#cloud-layer {
	background-image: url('../img/clouds.png');
	background-repeat: repeat-x;
	height: 750px;
}